@import "../../../assets/styles/variables";

.admin-page-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

table {
  width: 100%;

  th,
  td {
    text-align: center;
    padding: calc($spacer / 4);
  }

  button {
    margin: 0 calc($spacer / 4);
  }
}

.admin-button {
  margin-top: $spacer;
  cursor: pointer;
  max-height: 5rem;
  margin: $spacer;
  padding: calc($spacer * 0.75);
  border-radius: 2rem;
  font-weight: bolder;
  font-size: medium;
  background: $button-color;
  width: 10rem;
}

.admin-button:hover {
  background: $button-hover-color;
  color: white;
}
